footer {
	position: absolute;
	background: #000000;
	color: #ffffff;
	right: 0;
	bottom: 0;
	left: 0;
	height: 20px;
	border-top: 1px solid #666;
	overflow: hidden;
	li {
		cursor: pointer
	}
	.copyright {
		float: left;
		padding-left: 30px;
	}
	.footer-nav {
		float: right;
		padding-right: 30px;
	}
}